<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>Riddle-Me-This</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.css') }}" type="text/css" />

</head>

<body>
    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
