{% extends "base.html" %} {% block head %} {{ super() }} {%endblock%} {% block content %}

<body>
    <!-- Main Content -->
    <div class="content">
        <!-- Error Message -->
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div id="flash" class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert"> &times;</button> {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <!-- Form -->
        <div class=" callout-container">
            <div class="site-heading">
                <div class="form">
                    <h1>Please Enter The Number of Players</h1>
                    <form method="POST">
                        <br>
                        <input type="number" class="form-control" placeholder="Please Enter The Number of Players (Max. 4  Min. 1)" name="playernum" id="playernum" required data-validation-required-message="Please Enter The Number of Players (Max. 4).">
                        <br><br>
                        <button type="submit" class="btn btn-primary" id="sendPlayernumButton">Submit Number of Players</button>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ url_for('index') }}'">Reset Game</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} {% block footer %} {% endblock %}


</body>

</html>
