<!DOCTYPE html>
<html>

<head>
    <title>Riddle Game</title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.css') }}" type="text/css" />

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Riddle Game</a>
        </div>
    </nav>

    <!-- Page Header -->
    <header>
        <div class=" callout-container">
            <br><br><br><br>
            <div class="table-responsive">
                <div class="site-heading">
                    {% if winner_score > runner_up_score %}
                    <h1> {{ winner }} Wins!</h1>
                    {% else %}
                    <h1> It's A Draw!</h1>
                    {% endif %}
                    <br>
                    <img class="img-responsive" src="./static/img/win.png">
                    <br><br><br>
                    <h2>Leaderboard:</h2>
                    <br>
                    <table class="table ">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in leaderboard %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.score }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <button class="btn btn-primary"><a href="{{ url_for('index') }}" class="button">Play Again</a></button>

                </div>
            </div>
        </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
